@import 'tailwindcss/components';
@import 'tailwindcss/base';
@import 'tailwindcss/utilities';

@layer base {
    @font-face {
        font-family: 'Open Sauce Sans', sans-serif;
        font-weight: 300;
        src: url(../public/fonts/OpenSauceSans-Light.ttf) format("ttf");
    }
    @font-face {
        font-family: 'Open Sauce Sans', sans-serif;
        font-weight: 400;
        src: url(../public/fonts/OpenSauceSans-Regular.ttf) format("ttf");
    }
    @font-face {
        font-family: 'Open Sauce Sans', sans-serif;
        font-weight: 600;
        src: url(../public/fonts/OpenSauceSans-SemiBold.ttf) format("ttf");
    }
    @font-face {
        font-family: 'Open Sauce Sans', sans-serif;
        font-weight: 700;
        src: url(../public/fonts/OpenSauceSans-Bold.ttf) format("ttf");
    }
}

html, body, #__nuxt, #__layout {
    height: 100%
}